examples/flow_multiple.json
[{"id":"598955de860b59ba","type":"debug","z":"d4b00eb7574770fb","name":"IN4","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","_mcu":{"mcu":true},"x":410,"y":240,"wires":[]},{"id":"a4c6f2364a8b581c","type":"inject","z":"d4b00eb7574770fb","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"one","payloadType":"str","_mcu":{"mcu":true},"x":270,"y":280,"wires":[["577a67bff0fbd98e"]]},{"id":"6926b9e5124fc7fc","type":"mcu_serial_in","z":"d4b00eb7574770fb","name":"","tx":"17","rx":"16","baud":"115200","port":"2","_mcu":{"mcu":true},"x":270,"y":240,"wires":[["598955de860b59ba"]]},{"id":"577a67bff0fbd98e","type":"mcu_serial_out","z":"d4b00eb7574770fb","name":"","tx":"17","rx":"16","baud":"115200","port":"2","_mcu":{"mcu":true},"x":540,"y":280,"wires":[]},{"id":"77e95ea15f9400e5","type":"mcu_serial_in","z":"d4b00eb7574770fb","name":"","tx":"17","rx":"16","baud":"115200","port":"2","_mcu":{"mcu":true},"x":270,"y":200,"wires":[["19ef06529122d85d"]]},{"id":"19ef06529122d85d","type":"debug","z":"d4b00eb7574770fb","name":"IN3","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","_mcu":{"mcu":true},"x":410,"y":200,"wires":[]},{"id":"13dbac56739a5ccd","type":"inject","z":"d4b00eb7574770fb","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"two","payloadType":"str","_mcu":{"mcu":true},"x":270,"y":320,"wires":[["3f755d881f5ad488","577a67bff0fbd98e"]]},{"id":"3f755d881f5ad488","type":"mcu_serial_out","z":"d4b00eb7574770fb","name":"","tx":"17","rx":"16","baud":"115200","port":"2","_mcu":{"mcu":true},"x":540,"y":320,"wires":[]},{"id":"9ffec7519faef056","type":"mcu_serial_out","z":"d4b00eb7574770fb","name":"","tx":"17","rx":"16","baud":"115200","port":"2","_mcu":{"mcu":true},"x":540,"y":400,"wires":[]},{"id":"aa9c747fd22cccf5","type":"inject","z":"d4b00eb7574770fb","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"four","payloadType":"str","_mcu":{"mcu":true},"x":270,"y":440,"wires":[["2323fd058fc6ecc9","9ffec7519faef056","3f755d881f5ad488","577a67bff0fbd98e"]]},{"id":"2323fd058fc6ecc9","type":"mcu_serial_out","z":"d4b00eb7574770fb","name":"","tx":"17","rx":"16","baud":"115200","port":"2","_mcu":{"mcu":true},"x":540,"y":440,"wires":[]},{"id":"aa86fa9929677142","type":"debug","z":"d4b00eb7574770fb","name":"IN2","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","_mcu":{"mcu":true},"x":410,"y":160,"wires":[]},{"id":"761a84e304610b8d","type":"mcu_serial_in","z":"d4b00eb7574770fb","name":"","tx":"17","rx":"16","baud":"115200","port":"2","_mcu":{"mcu":true},"x":270,"y":160,"wires":[["aa86fa9929677142"]]},{"id":"9b2b59ce3111a32b","type":"mcu_serial_in","z":"d4b00eb7574770fb","name":"","tx":"17","rx":"16","baud":"115200","port":"2","_mcu":{"mcu":true},"x":270,"y":120,"wires":[["6d929ef48f160eb6"]]},{"id":"6d929ef48f160eb6","type":"debug","z":"d4b00eb7574770fb","name":"IN1","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","_mcu":{"mcu":true},"x":410,"y":120,"wires":[]}]